# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio caches
.vs/

# Packages
packages/
*.nupkg
*.snupkg

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Publish output
publish/
